# Lab Assignment 1 -- Fundamentals
In this lab, you will complete a series of exercises related to the lecture material on coding fundamentals and collections.

Since this is the first lab that involves coding, we will begin with an exercise related to Jupyter notebook functionality.

## Exercise 1 -- Jupyter Markdown Basics
Jupyter notebooks allows cells to be interpreted as either code or Markdown. Markdown is a lightweight formatting language. In fact, what you're reading right now is written in Markdown. The syntax is very simple and a reference for common commands can be found [here](https://www.markdownguide.org/cheat-sheet/). Use this reference guide to complete the following steps:

1. Create a cell below this one by using the insert drop down menu or by clicking on the left of this box (so the side bar turns blue) and tapping the <kbd>b</kbd> key.
2. Make the cell a Markdown cell by clicking on it and using the drop down menu above.
3. Using the reference guide, find out how to create the **smallest** heading  and use it give the cell you create a header of "Solution to Exercise 1" without the quotes.
4. Using the reference guide, figure out how to make ordered and unordered lists. Using an unordered list, list three of the things you hope to learn from this class.
5. Sometimes, we want to reference specific code or code objects in the text of Markdown. Markdown allows us to format such reference so that it appears in a gray box (e.g. `x=3`). Using the reference guide, figure out how to format code and format  x = 3, so it has a gray box around it in the cell you created.

### Solution to Exercise 1
- Basic coding skills
- How to use data base efficiently
- How to work with AI
- `x=3`

## Exercise 2 -- Basic Variable Assignment
Complete the following steps in the cells below.
1. Generate a variable called `x_flt` and set it equal to 3.0. Print its type.
2. Generate a variable called `x_int` and set it equal to 3. Print its type.
3. Generate a variable called  `x_str` and set it equal to "3". Print its type.
4. Which of these two variables can you add together with the `+` operator? Why? Answer in the Markdown cell below.

In [ ]:
# Exercise 2 Code
x_flt=3.0
print(x_flt)

3.0

In [ ]:
x_int=3
print(x_int)

3

In [ ]:
x_str="3"
print(x_str)

3

### Response to 2.4
We can add x_flt and x_int together, because these two are numbers, but x_str is a string.

## Exercise 3 -- Variable Reassignment
Complete the following steps in the cells below.
1. Assign `x` equal to `"good"`
2. Assign `y` equal to `x`
3. Reassign `x` to `"bad"`
4. Use `print` to print `y`
5. Does the print statement print "good" or a "bad"? Did changing `x` to "bad" affect anything? Why or why not? Answer in the Markdown cell below.

In [ ]:
# Exercise 3 Code
x="good"
y=x
x="bad"
print(y)

good

### Response to 3.5
As it runs in sequence and we type y=x before redifining x, it will still consider x="good" when printing y.

## Exercise 4 -- Basic Arithmetic
Generate the following variables with the corresponding value in the cell below:
1. `x` equal to 20
2. `y` equal to 10
3. `z1` equal to the sum of `x` and `y`
4. `z2` equal to `x` minus `y`
5. `z3` equal to `x` times `y`
6. `z4` equal to `x` divided by `y`

Answer the following question in the Markdown Cell Below

7. Use `type()` to deterimine which of these variables is a floating point number? Why is this the case?

In [ ]:
# Exercise 4 Code
x=20
y=10
z1=x+y
print(z1)
z2=x-y
print(z2)
z3=x*y
print(z3)
z4=x/y
print(z4)

30
10
200
2.0

### Response to 4.7

In [ ]:
print(type(30))
print(type(10))
print(type(200))
print(type(2.0))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

Because we included the .0 after the 4.

## Exercise 5 -- String Formatting
Complete the following steps in the cell below:
1. Define a list called `cities` that contains the names of three cities you would like to visit.
2. Define a corresponding list called `countries` where an entry is the country of each of those three cities.
3. Using these lists and f strings, print a sentence that says what country a city is in for each city in your list
4. Now do the same thing again but use the `.format()` method instead of f strings.

In [ ]:
# Exercise 5 Code
city1="Changsha"
city2="Tokyo"
city3="New York"
country1="China"
country2="Japan"
country3="America"
string_1=f"{city1} is in {country1}."
string_2=f"{city2} is in {country2}."
string_3=f"{city3} is in {country3}."
print(string_1)
print(string_2)
print(string_3)

string_1="{city1} is in {country1}."
print(string_1.format(city1 = "Changsha", country1 = "China"))
string_2="{city2} is in {country2}."
print(string_2.format(city2 = "Tokyo", country2 = "Japan"))
string_3="{city3} is in {country3}."
print(string_3.format(city3 = "New York", country3 = "America"))

Changsha is in China.
Tokyo is in Japan.
New York is in America.
Changsha is in China.
Tokyo is in Japan.
New York is in America.

## Exercise 6 -- String Concatenation
Complete the following steps in the cell below:
1. Assign `b` to be equal to "b"
2. Assign `a` to be equal to "a"
3. Assign `n` to be equal to "n"
4. Using these variables, `+`, and `print`, print the the word "banana"

In [ ]:
# Exercise 6 Code
b="b"
a="a"
n="n"
print(b+a+n+a+n+a)

banana

## Exercise 7 -- Boolean Variable Keywords
Assign `a`, `b`,`c`, and `d`, so that every print statement below is true.


Afterwards, answer the following quesiton in the Markdown cell below:

Is the configuration of `a`, `b`,`c`, and `d` that makes both statements true unique? Why or why not? If it isn't unique, add another print statement to the list to rule out other configurations?

In [ ]:
# Exercise 7 Code
a = True
b = False
c = False
d = False

In [ ]:
# Uncomment the lines below when you have defined the variables to check your results
print(((a and b) or (c and d)) == False)
print(((a or c) and (b or d)) == False)
print(a and (not b) and (not c) and (not d))

True
True
True

- No. The first statement requires that at least one of the combinations is False. The second statement requires that one element in each combinationvis False. It follows that any combination that contains either ab or cd that is simultaneously False can make both statements True.
- print((not a) and (not b) and c and d == True)